swagger: "2.0"
info:
  description: "This is API design for GardaBook System"
  version: "1.0.0"
  title: "GardaBook System API"
  termsOfService: ""
  contact:
    email: "e0384837@u.nus.edu"
  license:
    name: "Apache 2.0"
    url: "http://www.gardabook.com"
host: "www.gardabook.com"
basePath: "/v1"
tags:
- name: "catalogue"
  description: "Different types of facilities inventories storage and management"
  externalDocs:
    description: "More"
    url: "https://www.gardabook.com/catalogue/guide"
- name: "user"
  description: "Operations about user register, login, profile management"
  externalDocs:
    description: "More"
    url: "https://www.gardabook.com/user/guide"
- name: "booking"
  description: "Access to book facilities in system"
  externalDocs:
    description: "More"
    url: "https://www.gardabook.com/booking/guide"
- name: "enrollment"
  description: "User use to enroll facility into system "
  externalDocs:
    description: "More"
    url: "https://www.gardabook.com/enrollment/guide"
schemes:
- "https"
- "http"
paths:
  /catalogue:
    post:
      tags:
      - "catalogue"
      summary: "Add a new catalogue to GardaBook"
      description: ""
      operationId: "addCatalogue"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "header"
        name: "x-int-role"
        type: "string"
        default: "create"
        required: true
      - in: "body"
        name: "body"
        description: "Catalogue object that needs to be added to the system"
        required: true
        schema:
          $ref: '#/definitions/Catalogue'
      responses:
        405:
          description: "Invalid input"
      security:
        - Bearer: []
      x-security-scopes:
        - "write:catalogue"
        - "read:catalogue"
    put:
      tags:
      - "catalogue"
      summary: "Update an existing catalogue item"
      description: ""
      operationId: "updateCatalgoue"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "header"
        name: "x-int-role"
        type: "string"
        default: "update"
        required: true
      - in: "body"
        name: "body"
        description: "Catalogue object that needs to be update into the system"
        required: true
        schema:
          $ref: '#/definitions/Catalogue'
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Catalogue not found"
        405:
          description: "Validation exception"
      security:
        - Bearer: []
      x-security-scopes:
        - "write:catalogue"
        - "read:catalogue"
    get:
      tags:
      - "catalogue"
      summary: "Finds catalogue by tags or providers"
      description: "Multiple tag values can be provided with comma separated strings"
      operationId: "findByTags"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "header"
        name: "x-int-role"
        type: "string"
        default: "retrieve"
        required: true
      - name: "tag"
        in: "query"
        description: "Status values that need to be considered for filter"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "providerName"
        in: "query"
        description: "Providers of the catalogue"
        required: false
        type: "array"
        items:
          type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/Catalogue'
        400:
          description: "Invalid status value"
      security:
        - Bearer: []
      x-security-scopes:
        - "read:catalogue"
  /catalogue/{catalogueId}:
    get:
      tags:
      - "catalogue"
      summary: "Find Catalogue by ID"
      description: "Returns a single Catalogue"
      operationId: "getCatalogueById"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "header"
        name: "x-int-role"
        type: "string"
        default: "retrieve"
        required: true
      - name: "catalogueId"
        in: "path"
        description: "ID of catalogue to return"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Catalogue'
        400:
          description: "Invalid ID supplied"
        404:
          description: "Catalogue not found"
      security:
        - Bearer: []
      x-security-scopes:
        - "read:catalogue"
    delete:
      tags:
      - "catalogue"
      summary: "Deletes a catalogue"
      description: ""
      operationId: "deleteCatalogue"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "header"
        name: "x-int-role"
        type: "string"
        default: "delete"
        required: true
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      - name: "catalogueId"
        in: "path"
        description: "Catalogue id to delete"
        required: true
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Catalogue not found"
      security:
        - Bearer: []
      x-security-scopes:
        - "read:catalogue"
        - "write:catalogue"
  /catalogue/availability/{catalogueId}:
    get:
      tags:
      - "catalogue"
      summary: "Find availability by catalogue ID"
      description: "Returns list of availability of catalogue"
      operationId: "getAvailabilityByCatalogueId"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "header"
        name: "x-int-role"
        type: "string"
        default: "retrieve"
        required: true
      - name: "catalogueId"
        in: "path"
        description: "ID of catalogue"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Availability"
        400:
          description: "Invalid ID supplied"
        404:
          description: "No availability found"
      security:
        - Bearer: []
      x-security-scopes:
        - "write:catalogue"
  /booking:
    post:
      tags:
      - "booking"
      summary: "Place an booking"
      description: ""
      operationId: "submitBooking"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "header"
        name: "x-int-role"
        type: "string"
        default: "create"
        required: true
      - in: "body"
        name: "body"
        description: "book for the facility"
        required: true
        schema:
          $ref: '#/definitions/NewBooking'
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/NewBooking'
        400:
          description: "Invalid Order"
      security:
        - Bearer: []
      x-security-scopes:
        - "write:booking"
    get:
      tags:
      - "booking"
      summary: "Find booking history by user id"
      description: "Returns booking list of user's"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "header"
        name: "x-int-role"
        type: "string"
        default: "retrieve"
        required: true
      - name: "userId"
        in: "query"
        description: "ID of user"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Booking'
        400:
          description: "Invalid ID supplied"
        404:
          description: "Booking not found"
      security:
        - Bearer: []
      x-security-scopes:
        - "read:booking"
  /booking/{userId}:
    get:
      tags:
      - "booking"
      summary: "Find booking by ID"
      description: "For valid response try integer IDs with value >= 1 and <= 10.         Other values will generated exceptions"
      operationId: "getOrderById"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "header"
        name: "x-int-role"
        type: "string"
        default: "retrieve"
        required: true
      - name: "userId"
        in: "path"
        description: "ID of booking that needs to be fetched"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Booking'
        400:
          description: "Invalid ID supplied"
        404:
          description: "Order not found"
      security:
        - Bearer: []
      x-security-scopes:
        - "read:booking"
    delete:
      tags:
      - "booking"
      summary: "Delete purchase order by ID"
      description: "For valid response try integer IDs with positive integer value.         Negative or non-integer values will generate API errors"
      operationId: "deleteBooking"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "header"
        name: "x-int-role"
        type: "string"
        default: "delete"
        required: true
      - name: "bookingId"
        in: "path"
        description: "ID of the order that needs to be deleted"
        required: true
        type: "string"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Order not found"
      security:
        - Bearer: []
      x-security-scopes:
        - "write:booking"
  /user:
    post:
      tags:
      - "user"
      summary: "Create user"
      description: "This can only be done by the logged in user."
      operationId: "createUser"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "header"
        name: "x-int-role"
        type: "string"
        default: "create"
        required: true
      - in: "body"
        name: "body"
        description: "Created user object"
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        default:
          description: "successful operation"
      security:
        - Bearer: []
      x-security-scopes:
        - "write:user"
    put:
      tags:
      - "user"
      summary: "Updated user"
      description: "This can only be done by the logged in user."
      operationId: "updateUser"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "header"
        name: "x-int-role"
        type: "string"
        default: "update"
        required: true
      - in: "body"
        name: "body"
        description: "Updated user object"
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        400:
          description: "Invalid user supplied"
        404:
          description: "User not found"
      security:
        - Bearer: []
      x-security-scopes:
        - "write:user"
  /user/login:
    put:
      tags:
      - "user"
      summary: "Logs user into the system"
      description: ""
      operationId: "userLogin"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "header"
        name: "x-int-role"
        type: "string"
        default: "login"
        required: true
      - name: "username"
        in: "query"
        description: "The user name for login"
        required: true
        type: "string"
      - name: "password"
        in: "query"
        description: "The password for login in clear text"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
            
          headers:
            X-Rate-Limit:
              type: "integer"
              format: "int32"
              description: "calls per hour allowed by the user"
            X-Expires-After:
              type: "string"
              format: "date-time"
              description: "date in UTC when token expires"
            X-Cookies:
              type: "string"
              description: "cookies to contains session id"
        400:
          description: "Invalid username/password supplied"
  /user/logout:
    get:
      tags:
      - "user"
      summary: "Logs out current logged in user session"
      description: ""
      operationId: "userLogout"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "header"
        name: "x-int-role"
        type: "string"
        default: "logout"
        required: true
      responses:
        default:
          description: "successful operation"
  /user/{username}:
    get:
      tags:
      - "user"
      summary: "Get user by user name"
      description: ""
      operationId: "getUserByName"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "header"
        name: "x-int-role"
        type: "string"
        default: "retrieve"
        required: true
      - name: "username"
        in: "path"
        description: "The name that needs to be fetched. Use user1 for testing. "
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "Invalid username supplied"
        404:
          description: "User not found"
      security:
        - Bearer: []
      x-security-scopes:
        - "read:user"
    delete:
      tags:
      - "user"
      summary: "Delete user"
      description: "This can only be done by the logged in user."
      operationId: "deleteUser"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "header"
        name: "x-int-role"
        type: "string"
        default: "delete"
        required: true
      - name: "username"
        in: "path"
        description: "The name that needs to be deleted"
        required: true
        type: "string"
      responses:
        400:
          description: "Invalid username supplied"
        404:
          description: "User not found"
      security:
        - Bearer: []
      x-security-scopes:
        - "write:user"
        - "read:user"
  /enrollment:
    post:
      tags:
      - "enrollment"
      summary: "Create an enrollemnt"
      description: "This can only be done by the enrolled user."
      operationId: "createEnrollment"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "header"
        name: "x-int-role"
        type: "string"
        default: "create"
        required: true
      - in: "body"
        name: "body"
        description: "Created enrollement object"
        required: true
        schema:
          $ref: "#/definitions/Enrollment"
      responses:
        default:
          description: "successful operation"
      security:
        - Bearer: []
      x-security-scopes:
        - "write:enrollment"
        # - "read:enrollment"
  /enrollment/{providerId}:
    get: 
      tags:
      - "enrollment"
      summary: "get enrollemnt by providerId"
      description: "This can only be done by the enrolled user."
      operationId: "getEnrollmentByProviderId"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "header"
        name: "x-int-role"
        type: "string"
        default: "retrieve"
        required: true
      - in: "path"
        type: "string"
        name: "providerId"
        description: "the provider id of enrollment"
        required: true
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Enrollment"
        404: 
          description: "No enrollment found on current provider"
      security:
        - Bearer: []
      x-security-scopes:
        - "write:enrollment"
        - "read:enrollment"  
securityDefinitions:
  Bearer:
    type: "apiKey"
    name: "Authorization"
    in: "header"
    description: "Jwt token authentication from AWS Cognito"
definitions:
  NewBooking:
    type: "object"
    properties:
      userId:
        type: "string"
        description: "user id"
      catalogueId:
        type: "string"
        description: "catalogue id"
      date:
        type: "string"
        format: "date-time"
      slot:
        type: "integer"
        format: "int64"
      startTime:
        type: "string"
        format: "date-time"
      endTime:
        type: "string"
        format: "date-time"
    xml:
      name: "NewBooking"
  Booking:
    type: "object"
    properties:
      bookingId:
        type: "string"
      user:
        $ref: '#/definitions/User'
      catalogue:
        $ref: '#/definitions/Catalogue'
      availability:
        $ref: '#/definitions/Availability'
      amount:
        type: "number"
        format: "currency"
      createDate: 
        type: "string"
        format: "date-time"
      bookingDate: 
        type: "string"
        format: "date-time"
      submitDate: 
        type: "string"
        format: "date-time"
      paymentDate: 
        type: "string"
        format: "date-time"
      status:
        type: "string"
        description: "Order Status"
        enum:
        - "New"
        - "Booked"
        - "Rejected"
      complete:
        type: "boolean"
        default: false
    xml:
      name: "Booking"
  Availability:
    type: "object"
    properties:
      availablityId:
        type: "string"
      catalogue:
        $ref: "#/definitions/Catalogue"
      date: 
        type: "string"
        format: "date"
    xml:
      name: "Avalability"
  User:
    type: "object"
    properties:
      userId:
        type: "string"
      username:
        type: "string"
      firstName:
        type: "string"
      lastName:
        type: "string"
      email:
        type: "string"
      phone:
        type: "string"
      userStatus:
        type: "integer"
        format: "int32"
        description: "User Status"
    xml:
      name: "User"
  Tag:
    type: "object"
    properties:
      tagId:
        type: "string"
      descritpion:
        type: "string"
      status: 
        type: "string"
        enum: 
        - "Active"
        - "Deleted"
        - "Obsoloted"
    xml:
      name: "Tag"
  Catalogue:
    type: "object"
    required:
    - "name"
    - "venue"
    - "rate"
    - "rateUnit"
    properties:
      catalogueId:
        type: "string"
      tag:
        type: "array"
        xml:
          name: "tag"
          wrapped: true
        items:
          $ref: '#/definitions/Tag'
      provider:
        $ref: '#/definitions/User'
      name:
        type: "string"
        example: "NUS ISS Meeting Room#5"
      currency: 
        type: "string"
        description: "catalogue currency"
        enum:
        - "SGD"
        - "USD"
        - "MYR"
      rate: 
        type: "number"
        format: "currency"
      rateUnit:
        type: "string"
        description: "the unit of rate"
        enum:
        - "Minute"
        - "Hour"
        - "Day"
        - "Week"
        - "Month"
        - "Year"
      # availability:
      #   type: "array"
      #   items:
      #     $ref: '#/definitions/Availability'
      remark: 
        type: "string"
      terms:
        type: "string"
      venue: 
        type: "string"
      city: 
        type: "string"
      address: 
        type: "string"
      status:
        type: "string"
        description: "Catalogue status in the system"
        enum:
        - "Open"
        - "Closed"
    xml:
      name: "Catalogue"
      
  Enrollment:
    type: "object"
    properties:
      enrollmentId:
        type: "string"
      provider:
        $ref: '#/definitions/User'
      catalogue: 
        $ref: "#/definitions/Catalogue"
      date: 
        type: "string"
        format: "date"
      startTime: 
        type: "string"
        format: "date-time"
      endTime: 
        type: "string"
        format: "date-time"
      status: 
        type: "string"
        enum: 
        - "Booked"
        - "Reserved"
        - "Available"
    xml:
      name: "Enrollment"
externalDocs:
  description: "Find out more about Gardabook"
  url: "http://www.gardabook.com"